@charset "utf-8";


/*CSS Document */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/**********estilos-tipografías***********/
h1 {
    font-family: bebas neue;
}


h2 {
    color: #000;
    font-family: "Bebas Neue";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
}


h3 {
    color: #000;
    font-family: Lato;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    line-height: 1em;
}


h4 {
    font-family: "Bebas Neue";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}


h5 {
    color: var(--Amarillo, var(--AMARILLOFINAL, #F3AB01));
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}


h6 {
    /*instagrams de ferias*/
    color: black;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #000;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}


/*nav*/

.logo-amarillo{
    background-color:#F3AB01;
    border: 3px solid black;
    padding: 0.5em;
    position: relative;
    top: 20px;
    box-shadow: 8px 8px 0px 0px #000;
}

.logo-blanco{
    background-color:#ffffff;
    border: 3px solid black;
    padding: 0.5em;
    position: relative;
    top: 20px;
    box-shadow: 8px 8px 0px 0px #000;
}

header {
    padding: 30px 0px;
}

.botonera {
    display: flex;
    width: 100%;
    border-bottom: 3px solid #000;
    justify-content: space-between;
    align-items: baseline;
}

.botonera a {
    color: black;
    padding: 10px 15px;
    padding: 0.5rem;
    transition: all 0.1s ease;
}

.botonera a.active { /*boton mas grande estando en el html clickeado*/
    font-size: 1.5rem;
    font-family: Lato;
    padding: 0.5rem;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
}


.botonera ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3em;
}


.botonera ul li {
    stroke-width: 3px;
    stroke: var(--Negro, #000);
    font-family: Lato;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-left: 3px solid #000;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 0px;
}


/*footer*/
footer {
    padding: 3.125rem 0rem;
    color: #000;
}


.contenedor-footer {
    display: flex;
    border: #000 3px solid;
    background: #FFF;
    width: 100%;
    padding: 1.25rem 0rem;
    align-items: center;
    justify-content: space-around;
}




/***********fondos***********/
body {
    background-color: #FFF1E3;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}


.page-eventos {
    background-color: #F3AB01;
}


/***********class***********/
button {
    border: none;
    background: none;
}

.recuadro-blanco-negro {
    border: #000 3px solid;
    background: #FFF;
    box-shadow: 9px 9px 0px 0px;
    padding: 2rem;
}


.amarrilo-contenedornegro {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 3.75rem;
    background: #000;
    padding: 1.25rem;
}


.flechas {
    background: #F3AB01;
    box-shadow: 6px 6px 0px 0px #000;
    padding: 15px;
    cursor: pointer;
}

.flechas:hover {
    background: #FFF1E3;
    box-shadow: 6px 6px 0px 0px #F3AB01;
    border: 1px solid #000;
    cursor: pointer;
}
a #flecha-volver {
    padding: 30px;
}

.recuadro-crema-negro {
    border: 3px solid #000;
    background: var(--Cremita, #FFF1E3);
    box-shadow: 13px 13px 0px 0px #000;
}

.index .recuadro-crema-negro:hover {
    background-color: #FFF;
}

.boton-amarillo-chico {
    background-color: #F3AB01;
    border: 3px solid #000;
    font-family: "Bebas Neue";
    font-size: 40px;
    color: #000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    max-width: 40%;
    box-shadow: 8px 8px 0px 0px #000;
}

.boton-negro {
    background-color: #000;
    font-family: "Bebas Neue";
    font-size: 40px;
    color: #F3AB01;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    max-width: 40%;
    box-shadow: 8px 8px 0px 0px #F3AB01;
}

.boton-amarillo-grande {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2.9375rem;
    border-radius: 0.5625rem;
    border: 3px solid #000;
    background: #F3AB01;
    box-shadow: 9px 9px 0px 0px #000;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 2.5rem;
}

.boton-amarillo-grande:hover {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 2.9375rem;
    border-radius: 0.5625rem;
    border: 3px solid #000;
    background: #000;
    box-shadow: 9px 9px 0px 0px #F3AB01;
    color: #F3AB01;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 2.5rem;
}



.recuadro-amarillo-negro {
    background-color: #F3AB01;
    border: 3px solid #000;
    box-shadow: 13px 13px 0px 0px #000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
}

/***********INDEX************/
.index main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.inicioyedicion {
    display: flex;
    gap: 40px;
}


.linea-punteada {
    border-style: dashed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    max-width: 30%;
}


.banner h3 {
    background-color: #F3AB01;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
}

.preguntas-frecuentes {
    display: flex;
}


.preguntas-frecuentes .recuadro-amarillo-negro {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.preguntas {
    border: 3px solid #000;
    background: #FFF1E3;
    padding: 25px;
    display: flex;
    gap: 30px;
}


.flecha-abajo {
    background-color: #F3AB01;
    border: 3px solid #000;
    padding: 5px;
}


.preguntasyrevistas {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.mesa-redonda {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
}

.clubychica {
    display: flex;
    gap: 40px;
}

.index .recuadro-crema-negro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
}

/***********SUSCRIPCION************/
#monederos {
    background-image: url(img/monederos.png);
    background-size: contain;
}


.se-parte {
    display: flex;
}


.contenedor-contacto {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    background: #000;
    box-shadow: 13px 13px 0px 0px #F3AB01;
}


.contenedor-contacto h3 {
    color: #FFF1E3;
    font-family: "Bebas Neue";
    font-size: 3.21763rem;
    font-style: normal;
    font-weight: 400;
    line-height: 101%;
    /* 3.24981rem */
    text-transform: uppercase;
}


.contenedor-contacto p {
    color: var(--Cremita, #FFF1E3);
    font-family: "Lato";
    font-size: 1.34069rem;
    font-style: normal;
    font-weight: 700;
    line-height: 132%;
    /* 1.76969rem */
    text-transform: uppercase;
}




/***********EVENTOS************/
.contenedor-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contenedor-h3 {
    background-color: #000;
    width: 1119px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-eventos {
    color: #FFF1E3;
    font-family: Lato;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    line-height: 1em;
}


#ferias {
    display: flex;
    gap: 4rem;
    padding-top: 3em;
}

.contenedor-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.recuadro-crema-negro-eventos {
    border: 3px solid #000;
    background: var(--Cremita, #FFF1E3);
    box-shadow: 13px 13px 0px 0px #000;
    padding: 30px;
}

#contenedores-ferias {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.titulo-feria{
    border: 3px solid #000;
    box-shadow: 13px 13px 0px 0px #000;
    width: fit-content;
    padding: 11px;
}

.foto-evento {
    border: 3px solid black;
    margin-bottom: 1em;
}

.insta-feria {
    display: flex;
    gap: 1em;
}

.info-feria{
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 10px;
}

.sobre-feria{
    display: flex;
    width: 75%;
    gap: 3em;
}

.paquetes-chicos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 71%;
}
.subs-info{
    font-weight: 800;
    text-transform: uppercase;
}

.contenedor-info-feria{
    display: flex;
    padding-top: 3em;
    gap: 3em;
}



/***********REVISTAS************/
#intro-revistas {
    display: flex;
    gap: 142px;
}

div#contenedor-revistas-fechayboton {
    padding: 30px 0px;
}

/*cartel hover revistas*/
#contenedor-efecto-cartel {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
}

#boton-signo-exclamacion {
    cursor: pointer;
    background-color: #F3AB01;
    box-shadow: 9px 9px 0px 0px #000;
    padding: 10px;
}


#cartel-exclamacion-hover {
    background-color: #F3AB01;
    box-shadow: 9px 9px 0px 0px #000;
    width: 100%;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
}


#contenedor-efecto-cartel:hover #cartel-exclamacion-hover {
    opacity: 1;
}

/*seccion revistas*/
.revista-imagen {
    position: relative;
    box-shadow: 13px 13px 0px 0px #000;
    border: 3px solid #000;
}

.contenedor-revistas {
    /*revistas por individual*/
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1.14519rem;
    cursor: pointer;
}

#contenedor-catálogo {
    /*revistas en conjunto*/
    display: flex;
    /*creo que se resolveria mejor con display grid, aun no termine de entender del todo*/
    width: 100%;
    padding: 2.5rem 0rem;
    justify-content: space-evenly;
    gap: 6rem 10rem;
    flex-wrap: wrap;
}

.overlay-revistas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /*fondo transparecia*/
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3 ease;
    color: #F3AB01;
    font-family: "Bebas Neue";
    font-size: 4rem;
}

.revista-imagen:hover .overlay-revistas {
    opacity: 1;
    box-shadow: 13px 13px 0px 0px #F3AB01;
}


/***********VISTA REVISTA 12************/
/*intro*/


#intro-revista {
    display: flex;
    gap: 20px;
    padding: 30px 0px;
}

#fotos-edicion {
    display: flex;
}

#fotos-edicion img {
    border: 3px solid #000;
}

#fotos-edicion div {
    display: flex;
    flex-direction: column;
}

.contenedor-edicion-info {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background: #000;
    box-shadow: 13px 13px 0px 0px #F3AB01;
}

.contenedor-edicion-info h2 {
    color: #F3AB01;
    font-size: 8rem;
}

#edicion-numero {
    display: flex;
    align-items: center;
}

#tabla h3 {
    padding: 20px;
    gap: 20px;
}

/*carrusel*/
#carrusel {
    overflow: hidden;
    position: relative;
    padding: 50px 50px;
}

#contenidos-carrusel {
    padding: 0px 30px;
    display: flex;
    gap: 60px;
    cursor: pointer;
}

.contenedor-revistas-carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#flechas-carrusel {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.boton-sinbordes {
    border: none;
    background: none;
}