@charset "utf-8";

/*CSS Document */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/*estilos tipografías */
h1 {
    font-family: bebas neue;
}

h2 {
    color: #000;
    font-family: "Bebas Neue";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
}

h3 {
    /*paquetes de texto amarillos con fondo negro*/
    color: var(--Amarillo, var(--AMARILLOFINAL, #F3AB01));
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #000;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.amarrilo-contenedornegro {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 3.75rem;
    background: #000;
    padding: 1.25rem;
}

.flechas {
    background: #F3AB01;
    box-shadow: 6px 6px 0px 0px #000;
    padding: 9.126px 8.589px 10.2px 10.2px;
    justify-content: center;
    align-items: center;
}

/*nav*/
nav ul {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    stroke-width: 3px;
    stroke: var(--Negro, #000);
}

/***********INDEX************/



/***********SUSCRIPCION************/



/***********EVENTOS************/



/***********REVISTAS************/
.page-revistas {
    background: #FFF1E3;
    margin-left: 120px;
    margin-right:120px ;
}

#intro-revistas {
    display: flex;
    gap: 142px;
}

.contenedor-revistas { /*revistas por individual*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.14519rem;
}

#contenedor-catálogo { /*revistas en conjunto*/
    display: flex; /*creo que se resolveria mejor con display grid, aun no termine de entender del todo*/
    width: 105rem;
    padding: 2.5rem 0rem;
    justify-content: center;
    gap: 6rem 10rem;
    flex-wrap: wrap;
}
